body {
    background: linear-gradient(-45deg, #F7E7D1, #FAEABB);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    color: #492f38;
    text-align: center;
    padding: 0px;
    margin: 0px;
  }
  
  .navBar {
    background-color: #c8b88a;
    overflow: hidden;
    position: sticky;
    top: 0px;
    z-index: 999;
    margin: auto;
  }


  .navBar a {
    float: left;
    display: block;
    color: #fef3de;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Lato", sans-serif;
  }
  
  .navBar a:hover {
    background-color: #fef3de;
    color: #492f38;
  }
  
  .navBar .icon {
    display: none;
  }


/* --- Info / Home --- */
.info-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: center;
    margin: 20px;
}

.pfp {
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
    border: 5px solid #B9A275; /* circle */
}

.info-content {
    text-align: left;
    font-family: "Lato", sans-serif;
}

/* --- About --- */
.about {
  background-color: #e8e8e8; /*f3f6f7*/
  padding: 20px;
}

.about-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.about-content {
    text-align: left;
}

.rounded-box {
    background-color: #798073;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.2);
    font-size: 20px;
}

.rounded-box li {
    font-family: 'Arial', sans-serif;
    color: #fef3de;
    font-size: 18px;
    margin-bottom: 20px;
}

.rounded-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* --- Projects --- */
.projects {
    background-color: #fef3de;
    padding: 20px;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    font-family: "Lato", sans-serif;
}

.projects-container img {
  width: 60%;
  height: auto;
  max-width: 60%;
  display: block;
  margin: 0 auto;
}
.project {
    background-color: #c8b88a;
    padding: 20px;
    text-align: center
}
  

/* --- Socials --- */
.socials {
  position: relative;
  margin-top: 9rem;
}
.socials .social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.socials .social-icons li {
  display: inline-block;
  margin-bottom: 14px;
}
.social-icons a {
  font-size: 2rem;
  display: inline-block;
  line-height: 50px;
  color: #f1f0e1;
  background-color: #323037;
  width: 50px;
  height: 50px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #0685da;
}
.social-icons a.github:hover {
  background-color: #0e0e0e;
}

.social-icons a.linkedin:hover {
  background-color: #007bb6;
}

.social-icons a.instagram:hover {
  background-color: #ee00da;
}


/* --- Seasons --- */
.seasons {
  text-align: center;
  margin-top: 40px;
}

.seasons-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.season {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  filter: grayscale(100%); /* grayscale */
  transition: filter 0.3s ease;
}

.season img {
  width: 70%;
  height: 90%;
  border-radius: 15px;
}

.season:hover {
  filter: grayscale(0%);
}
